.select-wrapper {
  margin-bottom: 0;

  .select {
    width: 100%;

    &:not(.is-multiple):not(.is-loading)::after {
      border-color: #061058;
    }

    select {
      width: 100%;
      box-shadow: 0 0.125em 1em 0px rgba(10, 10, 10, 0.1);
      border-radius: 10px;
      font-weight: bold;
      color: #061058;

      &:focus, &:hover {
        border-color: transparent;
      }
    }
  }
}