.sub-sidebar {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  position: relative;
  background-color: white;
  color: #373F41; 
  max-width: 280px;
  width: 100%;
}

.sub-sidebar-items {
    
}