@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #fff;
$beige-light: #D0D1CD;
$beige-lighter: #fff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$variable-columns: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Update Bulma layout variables
$section-padding: 3rem 1.5rem;
$section-padding-medium: 9rem 1.5rem;
$section-padding-large: 18rem 1.5rem;

$gap: 10px;
$fullhd: 1420px + (2 * $gap);
$column-gap: 10px;

$card-color: #373F41;
$table-head-cell-border-width: 0 0 1px;
$table-cell-padding: 0;

$modal-z: 9999;

// $card-content-padding: 10px 0;

// Import only what you need from Bulma
// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules//bulma/bulma.sass";